include ../includes/_header.jade
.page-wrapper
  .wrapper
    .title-block
       span.title-block__title Преподаватели
    .teachers-block
      .teachers-block__img 
        img(src="../img/galoyan-yana-eduardovna.png")
      .teachers-info
        .teachers-sub
          .teachers-sub__title Галоян Яна Эдуардовна
          .teachers-sub__text к.п.н., доцент
        .teachers-sub
          .teachers-sub__title Авторские курсы
          .teachers-sub__text Межкультурная коммуникация | Деловой иностранный язык | Иностранный язык | Иностранный язык профессиональный
          
        .teachers-exp
          .teachers-exp__text
            |Стаж преподавания – 17 лет Огромный опыт работы в международных проектах. Имеет опыт работы с британскими курсами: “True to life”, “Headway”, “Intelligent Business”, “Language in Use”, “Infotech”, “Business Objectives”, “Basic English for Computing”, “English for Law Students”, “English in Mind”, “Key Words for Business”,” Market Leader”, “The Business”, “Economics”, “The Language of Business”, “Introduction to Business”, “Keys to Management”, “Highly Recommended”, “English for Psychologists” и др.
          
    .teachers-block
      .teachers-block__img
        img(src="../img/rud-elena-evgenevna-copy.png")
        .teachers-info
          .teachers-sub
            .teachers-sub__title Рудь Елена Евгеньевна 
            .teachers-sub__text старший преподаватель
          .teachers-sub
            .teachers-sub__title Авторские курсы
            .teachers-sub__text Переводчик в сфере профессиональной коммуникации | Иностранный язык | Иностранный язык профессиональный
            
          .teachers-exp
            .teachers-exp__text
              |Стаж преподавания – 17 лет Огромный опыт работы в международных проектах. Имеет опыт работы с британскими курсами: “True to life”, “Headway”, “Intelligent Business”, “Language in Use”, “Infotech”, “Business Objectives”, “Basic English for Computing”, “English for Law Students”, “English in Mind”, “Key Words for Business”,” Market Leader”, “The Business”, “Economics”, “The Language of Business”, “Introduction to Business”, “Keys to Management”, “Highly Recommended”, “English for Psychologists” и др.
