<!DOCTYPE html>
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  script(src="../js/jquery-3.1.1.min.js")
  script(src="../js/main.js")
  link(rel="stylesheet", href="../stylesheets/dist/normalize.css")
  link(rel="stylesheet", href="../stylesheets/dist/style.css")
  title Анри: Главная
body
  include _header.jade
  .page-wrapper
    block content
  include _footer.jade
  
