footer.footer
  .wrapper
    .left-block
      .footer__info
        span Языковая школа АНРИ
        span &copy; 2016. Все права защищены.
    .center-block
        form(class="register-form" id="form")
          p Записаться на обучение
          label(for="id_phone") Телефон:
          input(type="tel" id="id_phone")
          label(for="id_email") Email:
          input(type="email" id="id_email")
          button(type="submit" class="btn") Отправить заявку
    .right-block
        .footer__contacts
          .phone
            span.phone__number +7 (919) 891-10-30
          .email
            span.email__text galoyan@iubip.ru
