header.header
  .wrapper
    .header__logo
      a(href="/")
        img(src="../img/logo.png")
    .wrapper__nav
      nav.nav
          a(href="index.html" class="nav__link") Главная
          
            a(href="teachers.html" class="nav__link  nav__link_active") О школе
           
            a(href="#" class="nav__link") Английский язык
          
            a(href="#" class="nav__link") Русский язык
          
            a(href="#" class="nav__link") Контакты  
