header.header
  .wrapper
    .header__logo
      a(href="/")
        img(src="../img/logo.png")
    .wrapper__nav
      nav.nav
          a(href="#" class="nav__link  nav__link_active") Главная
          
            a(href="#" class="nav__link") О школе
           
            a(href="#" class="nav__link") Английский язык
          
            a(href="#" class="nav__link") Русский язык
          
            a(href="#" class="nav__link") Контакты       
            
      .header__contacts
              .phone
                span.phone__number +7 (919) 891-10-30
              .email
                span.email__text galoyan@iubip.ru
          
    .header__register
      h1.header__register_text Анри - твой путь к международному успеху
      a(href="#register" class="fancybox btn  superbtn") Записаться
        
        
        
