header.main-header
  .wrapper
    .main-header__logo
      a(href="/")
        img(src="../img/logo.png")
    .wrapper__nav
      nav.main-nav
        ul.main-menu
          a(href="index.html" class="nav__link  nav__link_active") Главная
          
          li(class="nav__link") О школе
            ul.submenu
              li
                a(href="#") О языковой школе
              li
                a(href="teachers.html") Преподавательский состав
              li
                a(href="#") Лицензии
              li
                a(href="#")  Выдаваемые документы 
          li(href="#" class="nav__link") Английский язык
          
          li(href="#" class="nav__link") Русский язык
          
          li(href="#" class="nav__link") Контакты       
            
      .main-header__contacts
              .phone
                span.phone__number +7 (919) 891-10-30
              .email
                span.email__text galoyan@iubip.ru
          
    .main-header__register
      h1.main-header__register_text Анри - твой путь к международному успеху
      a(href="#register" class="fancybox btn  superbtn") Записаться
        
        
        
